@import url("variables.css");

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Black.ttf") format("ttf");
    src: url("../fonts/Poppins-BlackItalic.ttf") format("ttf");
    src: url("../fonts/Poppins-Bold.ttf") format("ttf");
    src: url("../fonts/Poppins-ExtraBold.ttf") format("ttf");
    src: url("../fonts/Poppins-ExtraLight.ttf") format("ttf");
    src: url("../fonts/Poppins-Medium.ttf") format("ttf");
    src: url("../fonts/Poppins-Regular.ttf") format("ttf");
    src: url("../fonts/Poppins-SemiBold.ttf") format("ttf");
    src: url("../fonts/Poppins-Thin.ttf") format("ttf");
}

body {
    box-sizing: border-box;
    color: var(--primary-color, #151515);
    font-size: var(--body-font-size-default, 14px);
    line-height: 19.07px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: var(--heading-1-size-default, 32px);
    font-weight: 600;
    line-height: 44.8px;
}

h2 {
    font-size: var(--heading-2-size-default, 26px);
    font-weight: 600;
    line-height: 39px;
}

h3 {
    font-size: var(--heading-3-size-default, 22px);
    font-weight: 600;
    line-height: 33px;
}

h4 {
    font-size: var(--heading-4-size-default, 18px);
    font-weight: 600;
    line-height: 27px;
}

h5 {
    font-size: var(--heading-5-size-default, 15px);
    font-weight: 600;
    line-height: 22.5px;
}

h6 {
    font-size: var(--heading-6-size-default, 12px);
    font-weight: 600;
    line-height: 18px;
}

.wrapper {
    margin: 0 8%;
}

.header-top {
    margin: 0 45px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    color: var(--secondary-color, #6A983C);
    font-size: 12px;
    border-bottom: 1px solid rgba(21,21,21, 0.05);;
}

.none-decorated {
    text-decoration: none;
    color: inherit;
}

.header-top__contacts a {
    color: var(--primary-color, #151515);
    margin-left: 33px;
}

.navigation {
    display: flex;
}

.navigation__item {
    margin-left: 10px;
}

.header-medium {
    margin: 0 45px;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-between;
}

.header-medium__logo img {
    min-width: 177px;
}

.header-medium__search {
    text-align: center;
    width: 450px;
    height: 42px;
    border: 1px var(--primary-color300, #D1D1D1) solid;
    border-radius: 12px;
    background-color: var(--primary-color600, #F9F9F9);
    padding: 10px;
    display: flex;
}

.header-medium__icon a {
    margin-left: 20px;
}

.search-select {
    font-weight: 700;
}

.search-select, .search-form input {
    border: 0;
    background-color: inherit;
}

.search-form input {
    width: 245px;
    margin-left: 20px;
    outline-style: none;
}

.search-form {
    border-left: 1px solid var(--primary-color300, #D1D1D1);
    margin-left: 20px;
}

.search-form label {
    display: inline-flex;
}

.search-form img, .headline-header img {
    display: inline-flex;
}

.header-medium__icon img {
    min-width: 24px;
    display: inline-block;
}

.main__menu {
    background-color: var(--primary-color600, #F9F9F9);
    padding: 0 45px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 55px;
}

.menu-list__item {
    margin-right: 30px;
}

.menu-list select {
    background-color: inherit;
    border: 0;
    font-weight: 500;
    font-size: var(--button-font-size-default, 15px);
}

.main__category, .main__section { 
    padding: 64px 45px;
    display: grid;
    grid-template-columns: 215px 1fr;
    gap: 10px;
}

.menu-category h4, .products h4 {
    margin-bottom: 16px;
}

.menu-category li, .products li {
    margin-bottom: 12px;
}

.menu-category li:nth-last-child(1), .products li:nth-last-child(1) {
    margin-bottom: 48px;
}

.menu-category a, .products a {
    color: #6A983C;
}

.btn {
    font-size: var(--button-font-size-default, 15px);
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 12px;
    cursor: pointer;
}

.banner__btn {
    padding: 12px 16px;
    background-color: rgba(21,21,21, 0);
    border: var(--secondary-color200, #92C064) 2px solid;
}

.banner {
    display: flex;
    flex-wrap: wrap;
}

.banner__item {
    background-color: var(--secondary-color400, #F4F8EC);
    background-image: url("../img/picture-banner.png");
    border-radius: 12px;
    width: 420px;
    height: 290px;
    padding: 48px 33px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10px 20px;
}

.banner__item span {
    font-size: var(--caption-font-size-default, 12px);
    font-weight: 600;
    line-height: 18px;
    color: var(--secondary-color, #6A983C);
    margin-bottom: 8px;
}

.banner__item button, .headline__btn {
    display: flex;
    align-items: center;
}

.menu-category__btn--white, .products__btn--white {
    padding: 12.5px 16px;
    background-color: var(--primary-color500, #F5F5F5);
    border: 0; 
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cards__item {
    width: 260px;
    padding: 16px;
    border: 1px solid var(--primary-color300, #D1D1D1);
    border-radius: 12px;
    margin: 0 16px 20px;
    position: relative;
}

.cards__item img {
    max-height: 180px;
    margin-bottom: 16px;
}

.cards__item h5 {
    margin-bottom: 4px;
}

.cards__item p {
    font-size: var(--caption-font-size-default, 12px);
    line-height: 18px;
    margin-bottom: 16px;
}

.percentage-discount {
    position: absolute;
    top: 28px;
    left: 36px;
    background-color: var(--secondary-color400, #F4F8EC);
    border-radius: 12px;
    color: var(--secondary-color, #6A983C);
    padding: 0 8px;
    font-weight: 600;
    font-size: var(--caption-font-size-default, 12px);
    line-height: 18px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.price span {
    font-size: 12px;
    text-decoration: line-through;
    color: #A9A9A9;
    font-weight: 600;
}

.price__btn-green {
    padding: 6.5px 12px;
    background-color: #6A983C;
    border: 2px #46760A solid;
    color: white;
}

.main__headline, .blog-posts {
    padding: 70px 45px;
}

.headline-header, .blog-posts__header {
    min-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline__btn {
    padding: 6px 12px;
    background-color: white;
    border: 0;
}

.headline-cards .cards__item {
    margin: 0;
}

.headline-cards {
    padding-top: 33px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 32px;
}

.blog-posts__content {
    padding-top: 33px;
    display: grid;
    grid-template-columns: 40% 25% 1fr;
    gap: 32px;
}

.main-post, .second-post {
    min-height: calc(206px + 206px);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

.green-heading {
    background-color: var(--secondary-color400, #F4F8EC);
    padding: 0 8px;
    color: var(--secondary-color, #6A983C);
    border-radius: 12px;
    display: inline-block;
}

.main-post h6 {
    width: max-content;
}

.main-post__item {
    padding: 24px;
}

.main-post__item:nth-last-child(1) {
    background: rgb(0,0,0);
    background: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    border-radius: 12px;
    color: var(--primary-color700, white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.authors {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.authors img {
    margin-right: 10px;
}

.another-posts {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
}

.another-posts__item {
    display: flex;
}

.another-posts__item .img {
    width: 96px;
}